.App {
  margin: 10%;
}

.Box {
  margin: 10px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 12px;
  box-shadow: 3px 3px 3px 1px gray;
}

label {
  padding-right: 1em;
}

input {
  width: 100%;
}